.mb-poi-search-view
{
    position: absolute;
    top: 20px;
    left: 50px;

    > input[type=search]
    {
        height: 45px;
        width: 400px;
        padding-left: 8px;
        padding-right: 8px;
    }
}
